<html>
<head>
  <title>WETICE | О проекте</title>
</head>
<body>
<h1>О ПРОЕКТЕ</h1>



<p><b><em><%= @text_about_head %></em></b><br/>
<em><%= @text_about_body %></em><br/>
<em><b><%= @text_about_body1 %></b></em></p>


</body>

</html>